* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sections {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.section {
  display: flex;
  justify-content: space-between;
  font-family: inherit;
  border: none;
  border-radius: 10px;
  width: calc((100% - 5 * 10px) / 6);
  position: relative;
  background-color: #ffffff;
}

.section-title {
  width: 100px;
  padding: 5px 0 5px 10px;
}

.section-code {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  width: 70px;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 45%;
  transition: all ease .3s;
  background-color: #cccccc;
}

.section,
.section-code {
  transition: all ease .3s;
  opacity: 0.7;
}

.section.active,
.section.active .section-code,
.section:hover,
.section:hover .section-code {
  opacity: 1;
}

.section h2 {
  font-size: 1.6em;
  line-height: 1.2em;
  height: 1.2em;
  text-align: start;
  
}

.section p {
  margin: 5px 0 0 0;
  font-size: 1em;
  text-align: start;
}

.section.active:nth-child(1) .section-code,
.section:nth-child(1):hover .section-code {
  background-color: #00aa00;
}

.section.active:nth-child(2) .section-code,
.section:nth-child(2):hover .section-code {
  background-color: #aaff00;
}

.section.active:nth-child(3) .section-code,
.section:nth-child(3):hover .section-code {
  background-color: #ffff00;
}

.section.active:nth-child(4) .section-code,
.section:nth-child(4):hover .section-code {
  background-color: #ffcc00;
}

.section.active:nth-child(5) .section-code,
.section:nth-child(5):hover .section-code {
  background-color: #ffaa00;
}

.section.active:nth-child(6) .section-code,
.section:nth-child(6):hover .section-code {
  background-color: #ff7700;
}

.sections-vocabulary .section.active .section-code,
.sections-vocabulary .section:hover .section-code {
  background-color: #ff5500;
}

@media screen and (max-width: 1080px) {

  .section {
    width: calc((100% - 2 * 10px) / 3);
  }

}

@media screen and (max-width: 640px) {

  .section {
    width: calc((100% - 1 * 10px) / 2);
  }

}

@media screen and (max-width: 420px) {

  .section {
    width: calc((100%) / 1);
  }

}